.navLinkContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
ul {
  list-style-type: none;
}
.navLink {
  font-size: 1.1em;
  font-weight: 200;
  color: #ffffff;
  text-align: left;
}
.navLink:hover {
  color: #ff914d;
}
.logo {
  width: 100px;
}
